*.log
*.log.gz
*.properties
mc2discord.toml
DiscordIntegration-Data/*
eula.txt
config/Discord-Integration.toml
VXSK2.rar
crash-reports/*
logs/*
Java/*
dynmap/*
debug/*
config/simple-discord-link/*
sdlinkstorage/*
config/spark/*
1-8debug_2/*
1-8debug_3/*
emperor/*
empress/*
libra/*
orion-test/*
VXSK1/*
VXSK1-8debug/*
VXSK2/*
VXSK2/*
dynmap-server/*
VXSK2-Copy/*
libraries/*
world/*
debug1/*